<a href="https://colab.research.google.com/github/omartru10/machile-learning/blob/main/RNA/covid-19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/omartru10/machile-learning/main/datasets/covid_19_data.csv")
df.head()

In [31]:
# Vamos a crear un funcion para limpiar las cabeceras del dataset

def format_column_names(df):
    df.columns = df.columns.str.lower().str.replace(" ","_", regex=True)
    df.columns = df.columns.str.replace(".","_", regex=True)
    df.columns = df.columns.str.replace("-","_", regex=True)
    df.columns = df.columns.str.replace(":","_", regex=True)

In [32]:
format_column_names(df)
df.head()

,sno,observationdate,province/state,country/region,last_update,confirmed,deaths,recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   sno              306429 non-null  int64
 1   observationdate  306429 non-null  object
 2   province/state   228329 non-null  object
 3   country/region   306429 non-null  object
 4   last_update      306429 non-null  object
 5   confirmed        306429 non-null  float64
 6   deaths           306429 non-null  float64
 7   recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [34]:
df.drop(columns=['sno','province/state','last_update'], axis=1, inplace=True)
df

       observationdate  country/region  confirmed  deaths  recovered
0           01/22/2020  Mainland China        1.0     0.0        0.0
1           01/22/2020  Mainland China       14.0     0.0        0.0
2           01/22/2020  Mainland China        6.0     0.0        0.0
3           01/22/2020  Mainland China        1.0     0.0        0.0
4           01/22/2020  Mainland China        0.0     0.0        0.0
...                ...             ...        ...     ...        ...
306424      05/29/2021         Ukraine   102641.0  2335.0    95289.0
306425      05/29/2021     Netherlands    29147.0   245.0        0.0
306426      05/29/2021  Mainland China     1364.0     1.0     1324.0
306427      05/29/2021         Ukraine    87550.0  1738.0    83790.0
306428      05/29/2021     Netherlands   391559.0  4252.0        0.0

[306429 rows x 5 columns]